.box5050 {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-between;
}

.box5050 img {
  width:100%;
  object-fit: cover;
}

.box5050_image {
  height: 400px;
  overflow: hidden;
  width: 100%;
}

.box5050_item {
  position:relative;
  height: 400px;
  margin-top:10px;
  overflow: hidden;
  width: 100%;
}

.box5050_item_contenu {
  position:absolute;
  bottom:30px;
  left:30px;
  color:white;
}

.box5050_item_contenu_title {
  font-size:25px;
  text-transform:uppercase;
  padding-bottom:30px;
  letter-spacing: 4px;
}


.box5050_reverse .box5050_contenu {
  padding-bottom:0;
}

.box5050_contenu {
  padding-bottom:40px;
}

@media (min-width:768px) {

  .box5050 h2 {
    position:relative;
  }

  .box5050 h2:before {
    content:"";
    width:40px;
    background-repeat: no-repeat;
    position:absolute;
    top:0;
    left:-40px;
    height:40px;
    background-image:url("../../assets/images/etoile.png");
  }

  .box5050_reverse h2 {
    position:relative;
  }

  .box5050_reverse h2:before {
    background-image:none;
  }

  .box5050_reverse h2:after {
    content:"";
    width:40px;
    background-repeat: no-repeat;
    position:absolute;
    top:0;
    right:-40px;
    height:40px;
    background-image:url("../../assets/images/etoile.png");
  }

  .box5050_item {
    height: 100%;
    margin-top:0;
  }

  .box5050_item_contenu_title {
    font-size:30px;
  }
  .box5050 {
    flex-direction:row;
  }
  .box5050_reverse {
    flex-direction:row-reverse;
  }
  .box5050_contenu {
    padding-right:40px;
  }

  .box5050_image {
    height:100%;
  }

  .box5050_reverse .box5050_contenu {
    padding-right:0;
    padding-left:40px;
  }
  .box5050 > * {
    width:48%;
  }
}

@media (min-width:1100px) {
  .box5050 h2:before {
    left:-60px;
  }

  .box5050_reverse h2:after {
    right:-60px;
  }
}
