.header nav ul li {
  color:white;
  letter-spacing:1px;
  font-weight:500;
}

.header {
  position:relative;
  height:600px;
  margin-bottom:30px;
}

.logo {
  height:70px;
  margin-left:15px;
  width:108px;
}

.header_contenu {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:80%;
  margin:0 auto;
  margin-top:30px;
}

.header_contenu p {

}

.header_contenu .arrowDown {
  padding-bottom:45px;
}

.header .header_img {
  position:absolute;
  top:0;
  left:0;
  object-fit: cover;
  z-index:-1;
  height:100%;
  overflow:hidden;
  width:100%;
}

.header_inner {
  display:flex;
  position:relative;
  padding-top:20px;
  align-items:center;
  justify-content: space-between;
}


.header_inner .flex {
  z-index:99999999;
}

.header_inner .btn {
  z-index:1;
}

@media (min-width:768px) {
  .header_contenu {
    margin:0 auto;
    margin-top:160px;
    max-width:638px;
  }

  .header {
    height:720px;
  }
}

@media (min-width:992px){
  .header {
    margin-bottom:60px;
  }
  .header_inner {
    align-items:flex-start;
  }
  .logo {
    height:110px;
    width:171px;
    margin-left:0;
  }

  .header_inner {
    z-index:1;
  }

  .header nav ul li {
    display:inline;
    font-size:12px;
    text-transform:uppercase;
    padding-right:15px;
  }
}


@media (min-width:1120px){
  .header nav ul li {
    padding-right:30px;
  }
}
